.App {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Box{
  display: flex;
  flex-wrap: wrap;
}

.playerCard{
  width: 350px;
  margin: 10px;
  display: flex;
  flex-wrap: column;
}
